/*CheckBox*/

.checkbox-container {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    display: none;
}

.checkbox-custom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--neutral);
    display: inline-block;
}

.checkbox-custom.checked {
    border: none;
}

.checkbox-custom.checked img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
